{
  "GOOGLE_CSE_KEY": "", // Your Google developer API key
  "GOOGLE_CSE_ID": "", // The ID of your Custom Search Engine
  "SLACK_TOKEN": "",   // The token from your slash integration
  "APP_CLIENT_ID": "", // The Client ID from the Application
  "APP_CLIENT_SECRET": "", // The Client Secret from the Application
  "HOST_URL": "" // Public endpoint where this is running. ie: "127.0.0.1:3001/auth"
}
